header {
    height: 60px;
    background-color: rgb(102, 102, 187);
}
.area {
    background-color: #7587930f;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    margin: 20px 0px;

}
.first_column, .fourth_column {
    height: 88vh;
}
.second_column, .third_column {
    height: 43.4vh;
}
.p3 {
    padding: 0px 5px !important;
}
div.second_column {
    margin-bottom: 2.5px;
}
div.third_column {
    margin-top: 7px;
}